@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --Marvel-color-1: #403728;
  --Marvel-color-2: #261712;
  --Marvel-color-3: #59261b;
  --Marvel-color-4: #bf3326;
  --Marvel-alternative-4:#FC4635;
  --Marvel-color-5: #8c281f;
  --Marvel-white: #ffffff;
  --Marvel-black: rgba(0, 0, 0,0.9);
  --Marvel-darkGray: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Marvel-darkGray);
  color: var(--Marvel-alternative-4);
}
